/****** Object:  Table [dbo].[App_Admin]    Script Date: 7/13/2022 6:38:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_Admin](
	[Admin_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Admin_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Role] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Admin_Created_ON] [date] NOT NULL,
	[Admin_Created_By] [int] NOT NULL,
	[Admin_Updated_ON] [date] NULL,
	[Admin_Updated_By] [int] NULL,
	[Admin_IsActive] [bit] NOT NULL,
	[Admin_DOB] [date] NOT NULL,
 CONSTRAINT [PK__App_Admi__4A300117A1D1AA52] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_Admin] ON 

GO
INSERT [dbo].[App_Admin] ([Admin_ID], [Admin_FullName], [Admin_Contact], [Admin_Gender], [Admin_Email], [Admin_Password], [Admin_Role], [Admin_Created_ON], [Admin_Created_By], [Admin_Updated_ON], [Admin_Updated_By], [Admin_IsActive], [Admin_DOB]) VALUES (1, N'Admin', N'3356789123', N'Female', N'atiqa@gmail.com', N'admin123', N'Admin', CAST(N'2022-06-28' AS Date), 1, CAST(N'0001-01-01' AS Date), 0, 1, CAST(N'2000-06-08' AS Date))
GO
INSERT [dbo].[App_Admin] ([Admin_ID], [Admin_FullName], [Admin_Contact], [Admin_Gender], [Admin_Email], [Admin_Password], [Admin_Role], [Admin_Created_ON], [Admin_Created_By], [Admin_Updated_ON], [Admin_Updated_By], [Admin_IsActive], [Admin_DOB]) VALUES (2, N'Atiqa', N'3356789123', N'Female', N'atiqa@gmail.com', N'12345678', N'Admin', CAST(N'2022-06-28' AS Date), 1, CAST(N'0001-01-01' AS Date), 0, 1, CAST(N'2000-06-08' AS Date))
GO
INSERT [dbo].[App_Admin] ([Admin_ID], [Admin_FullName], [Admin_Contact], [Admin_Gender], [Admin_Email], [Admin_Password], [Admin_Role], [Admin_Created_ON], [Admin_Created_By], [Admin_Updated_ON], [Admin_Updated_By], [Admin_IsActive], [Admin_DOB]) VALUES (4, N'Azib Ali', N'03356789123', N'Male', N'maxibali@gmail.con', N'12345678', N'Admin', CAST(N'2022-07-02' AS Date), 1, NULL, NULL, 1, CAST(N'2022-07-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[App_Admin] OFF
GO
/****** Object:  Table [dbo].[App_User]    Script Date: 7/13/2022 6:38:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_DOB] [date] NOT NULL,
	[User_Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Created_ON] [date] NOT NULL,
	[User_Updated_ON] [date] NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_Role] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__App_User__206D91904D624FC3] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_User] ON 

GO
INSERT [dbo].[App_User] ([User_ID], [User_FullName], [User_Email], [User_Gender], [User_Contact], [User_Password], [User_DOB], [User_Address], [User_Created_ON], [User_Updated_ON], [User_IsActive], [User_Role]) VALUES (1, N'maxibali', N'user@gmail.com', N'Male', N'03313006368', N'user1234', CAST(N'0001-01-01' AS Date), N'Karachi pakistan', CAST(N'2022-06-28' AS Date), CAST(N'2022-07-07' AS Date), 1, N'User      ')
GO
INSERT [dbo].[App_User] ([User_ID], [User_FullName], [User_Email], [User_Gender], [User_Contact], [User_Password], [User_DOB], [User_Address], [User_Created_ON], [User_Updated_ON], [User_IsActive], [User_Role]) VALUES (2, N'Atiqak', N'atiqak@gmail.com', N'Female', N'03363168612', N'12345678', CAST(N'2000-06-14' AS Date), N'Gulshan Karachi, Pakistan', CAST(N'2022-06-29' AS Date), CAST(N'0001-01-01' AS Date), 1, NULL)
GO
INSERT [dbo].[App_User] ([User_ID], [User_FullName], [User_Email], [User_Gender], [User_Contact], [User_Password], [User_DOB], [User_Address], [User_Created_ON], [User_Updated_ON], [User_IsActive], [User_Role]) VALUES (3, N'Farah Khannum', N'farah@gmail.com', N'Female', N'03367895781', N'12345678', CAST(N'2022-05-31' AS Date), N'Gulberg Block 5 Karachi,Pakistan', CAST(N'2022-06-29' AS Date), CAST(N'0001-01-01' AS Date), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[App_User] OFF
GO
/****** Object:  Table [dbo].[App_User]    Script Date: 7/13/2022 6:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_DOB] [date] NOT NULL,
	[User_Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Created_ON] [date] NOT NULL,
	[User_Updated_ON] [date] NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_Role] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__App_User__206D91904D624FC3] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/13/2022 6:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Postedby] [bigint] NULL,
	[Product_Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Category] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Created_ON] [date] NOT NULL,
	[Product_Location] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Product__9834FB9AD435AD45] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Found_Product]    Script Date: 7/13/2022 6:38:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Found_Product](
	[Found_Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NULL,
	[Found_Product_Status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Found_Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_User] ON 

GO
SET IDENTITY_INSERT [dbo].[App_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([Product_ID], [Postedby], [Product_Name], [Product_Category], [Product_Image], [Product_Description], [Product_Created_ON], [Product_Location], [Product_IsActive]) VALUES (17, 1, N'Haya Khan', N'People', N'~/ProjectData/people-child-children-family225331836.jpg', N'Haya Khan is a Pakistani social media star who has earned popularity through the lip-syncing app, TikTok. With 220.700K+ followers on TikTok, Haya Khan is considered as one of the popular TikTok stars in Pakistan.', CAST(N'2022-07-01' AS Date), N'Lahore', 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Found_Product] ON 

GO
INSERT [dbo].[Found_Product] ([Found_Product_ID], [Product_ID], [Found_Product_Status]) VALUES (8, 16, N'Owner Not Found')
GO
INSERT [dbo].[Found_Product] ([Found_Product_ID], [Product_ID], [Found_Product_Status]) VALUES (9, 20, N'Owner Not Found')
GO
INSERT [dbo].[Found_Product] ([Found_Product_ID], [Product_ID], [Found_Product_Status]) VALUES (10, 21, N'Owner Not Found')
GO
SET IDENTITY_INSERT [dbo].[Found_Product] OFF
GO
/****** Object:  Table [dbo].[App_User]    Script Date: 7/13/2022 6:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_DOB] [date] NOT NULL,
	[User_Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Created_ON] [date] NOT NULL,
	[User_Updated_ON] [date] NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_Role] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__App_User__206D91904D624FC3] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/13/2022 6:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Postedby] [bigint] NULL,
	[Product_Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Category] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Created_ON] [date] NOT NULL,
	[Product_Location] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Product__9834FB9AD435AD45] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lost_Product]    Script Date: 7/13/2022 6:38:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lost_Product](
	[Lost_Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NULL,
	[Lost_Product_Status] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Lost_Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_User] ON 

GO
SET IDENTITY_INSERT [dbo].[App_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Lost_Product] ON 

GO
INSERT [dbo].[Lost_Product] ([Lost_Product_ID], [Product_ID], [Lost_Product_Status]) VALUES (7, 15, N'Still Not Found')
GO
INSERT [dbo].[Lost_Product] ([Lost_Product_ID], [Product_ID], [Lost_Product_Status]) VALUES (8, 17, N'Still Not Found')
GO
INSERT [dbo].[Lost_Product] ([Lost_Product_ID], [Product_ID], [Lost_Product_Status]) VALUES (9, 18, N'Still Not Found')
GO
SET IDENTITY_INSERT [dbo].[Lost_Product] OFF
GO
/****** Object:  Table [dbo].[App_User]    Script Date: 7/13/2022 6:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_DOB] [date] NOT NULL,
	[User_Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Created_ON] [date] NOT NULL,
	[User_Updated_ON] [date] NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_Role] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__App_User__206D91904D624FC3] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/13/2022 6:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Postedby] [bigint] NULL,
	[Product_Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Category] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Created_ON] [date] NOT NULL,
	[Product_Location] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Product__9834FB9AD435AD45] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages_Details]    Script Date: 7/13/2022 6:38:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages_Details](
	[Message_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_ID] [bigint] NOT NULL,
	[User_Messages] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Message_Date] [datetime] NOT NULL,
	[Sent_By] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Message_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_User] ON 

GO
SET IDENTITY_INSERT [dbo].[App_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
/****** Object:  Table [dbo].[App_User]    Script Date: 7/13/2022 6:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_User](
	[User_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_FullName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Email] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Gender] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Contact] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_DOB] [date] NOT NULL,
	[User_Address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[User_Created_ON] [date] NOT NULL,
	[User_Updated_ON] [date] NULL,
	[User_IsActive] [bit] NOT NULL,
	[User_Role] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__App_User__206D91904D624FC3] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/13/2022 6:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Postedby] [bigint] NULL,
	[Product_Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Category] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_Created_ON] [date] NOT NULL,
	[Product_Location] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Product_IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Product__9834FB9AD435AD45] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[App_User] ON 

GO
SET IDENTITY_INSERT [dbo].[App_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
